body{
    background: #ddd;
}


.carousel-wrapper {
    overflow: hidden;
    position: relative;
}

.carousel-container {
    position: relative;
    width: 4500px;
    height: inherit;
}
.carousel-image {
    display: inline-block;
    float: left;
}
#carousel-prev {
    cursor: pointer;
    width: 48px;
    height: 48px;
    background: url("../images/left.png");
    position: absolute;
    left: 10px;
    top: 45%;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* IE 5-7 */
    filter: alpha(opacity=50);
    /* Netscape */
    -moz-opacity: 0.5;
    /* Safari 1.x */
    -khtml-opacity: 0.5;
    /* Good browsers */
    opacity: 0.5;
}

#carousel-prev:hover, #carousel-next:hover {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE 5-7 */
    filter: alpha(opacity=100);
    /* Netscape */
    -moz-opacity: 1;
    /* Safari 1.x */
    -khtml-opacity: 1;
    /* Good browsers */
    opacity: 1;
}

#carousel-next {
    cursor: pointer;
    width: 48px;
    height: 48px;
    background: url("../images/right.png");
    position: absolute;
    right: 10px;
    top: 45%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
     opacity: 0.5;
}

.carousel-controls {
    color: #ffffff;
    width: 100%;
    height: 32px;
}


.carousel-controls  > span {
    cursor: pointer;
    float:left;
    background: url("../images/dot.png");
    width: 16px;
    height: 32px;
    margin-left: 10px;
}
.carousel-controls .active {
    background: url("../images/dot_active.png");
}

.carousel {
    overflow: hidden;
    position: relative;
    float: left;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}